* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, header, footer {
    margin:0 auto;
    background-color:#1F2937;
}

/* Header */

#links {
    display:flex; 
    align-items: center;
    gap: 20px; 
    justify-content: center;
    padding-left:10%;
    padding-right:10%;
}

.logo-text {
    flex: 2; 
}

hero-secondary.link {
    flex: 1; 
}

/* Banner */

#banner {
    padding: 10%; 
    display: flex; 
    background-color:#1F2937;
}

.text-column {
    flex: 1; 
}

.banner-art {
    width: 300px; 
    flex: 1;
}

/* Info section */

#info { 
    text-align: center;
    background-color: #f9faf8;
    padding: 5% 20%;
}

.info-header {
    font-size:36px;
    color:#1F2937;
    font-weight:900;  
    margin-top: 0;
}

#preview-images {
    display:flex; 
    justify-content: center;
    gap:50px;
}

.image-with-text {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.preview  {
    width: 200px;
    height: 200px;
    flex: 1;
    border:5px solid #3882F6;
    border-radius:10px;
    margin: 10px;
}

.preview-text {
    width: 200px;
    margin: 10px;
}

/* Typography */

.hero-main {
    font-size:48px; 
    color: #f9faf8;
    font-weight:900; 
    margin: 0; 
}

.logo-text, .call-header {
    font-size: 24px;
    color:#f9faf8; 
    margin: 0; 
}

.hero-secondary, #copyright-notice {
    font-size: 18px;
    color:#E5E7EB;
    text-decoration: none; 
    margin: 0; 
}

button {
    background-color:#3882F6; 
    border-radius:10px; 
    color:#f9faf8;
    font-size:18px; 
    border: none; 
}

/* Quote section */


#quote { 
    background-color: #E5E7EB;
    margin:0; 
    padding: 10% 25%;
}

.quote-text {
    font-size:36px; 
    color:#1F2937;
    font-weight: 300;
}

/* Call to action */

.white-box {
    background-color: #f9faf8;
    padding: 5% 10%; 
}

#call-to-action {
    background-color:#3882F6;
    padding: 5% 10%;
    border-radius: 10px;
    display:flex; 
    align-items: center;
}

.small-text-column {
    flex: 8;
}

button.blue-bg {
    border: 3px solid white; 
    flex:1; 
}

/* Footer */

footer {
    padding:1%;
    align-items:center;
    text-align: center;
}